body{
	background-color: #07AAD6;
}
#userLogin{
	background-color: #087CAF;
	padding: 20px;
}
#btnLogin{
	background-color: #1E90FF;
	color: white;
	width: 100%;
	font-weight: bold;
	text-transform: uppercase;
	padding: 10px;
}
#btnRegistrar,#btnFazerRegistro{
	background-color: #087CAF;
	color: white;
	margin-top: 10px;
	width: 100%;
	font-weight: bold;
	text-transform: uppercase;
	padding: 10px;
}
#rounded_button{
	border-radius: 100px;
}
#rounded_button{
	background-color: #0C4A66;
	color: white;
}
.inputDesign{
	background-color: #087CAF;
	color: white;
	border-color: #07AAD6;
}

.form-control::-webkit-input-placeholder { color: white; }  /* WebKit, Blink, Edge */
.form-control:-moz-placeholder { color: white; }  /* Mozilla Firefox 4 to 18 */
.form-control::-moz-placeholder { color: white; }  /* Mozilla Firefox 19+ */
.form-control:-ms-input-placeholder { color: white; }  /* Internet Explorer 10-11 */
.form-control::-ms-input-placeholder { color: white; }  /* Microsoft Edge */

#rounded_button_map{
	border-radius: 100px;
	margin:0.8px;
	left:-11px;
}
@media only screen and (max-width: 600px) {
   #luaIcone{
   	width: 200px;
   }
}

@media only screen and (min-width: 601px){
	#luaIcone{
		width: 250px;
	}
}

.botoes-footer {
	position: absolute;
	top: -70px;
	left: 5%;
}
